body {
    margin: 60px auto;
    width: 70%;
    background-color: #222222
}
nav ul, footer ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #a1ac25;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    color: #50f148;
}
h2 {
    color: #50f148;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #19809e;
    font-family: 'Roboto', sans-serif;
}
footer {
    border-top: 1px solid #222222;
    font-size: .8em;
    font-family: 'Roboto', sans-serif;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

ul.posts li {
    list-style: none;
}

::selection {
    background: #33ccff;
}


/*Do not make this the same as ::selection. It will not look the same as it does on Chrome.*/
::-moz-selection {
    /*background: #a8d1ff;*/
    background: #3399FF;
}

canvas {
    display: block;
}

img {
    margin-right: 10px
}
