<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/acow19/acow19.github.io/master/favicon.ico" />
		</head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
            <div class="container">

                {{ content }}

            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="https://github.com/acow19" target="_blank">GitHub profile</a></li>
                    <li><a href="https://github.com/acow19/acow19.github.io" target="_blank">This Site's Code Repo</a></li>
                    <li><a href="https://www.linkedin.com/in/andrew-cowick-343b16171/" target="_blank">Linkedln profile</a></li>
                </ul>
            </footer>

            <!--<canvas id="canvas"></canvas>-->

            <script src="js/konami.js"></script>
            <script src="js/darkreader.js"></script>

        </body>
	</html>
